.panel-container {
    width: 100%;
    max-width: 300px;
    padding: 2%;
    height: 7em;
    background-color: #0c0c0c;
    border-radius: 15px;
    box-shadow: 0 0 15px 5px #1010ce;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.panel-container:hover {
    border: 2px solid #2c2cdb;
    box-shadow: 0 0 15px 5px #2c2cdb;
}

main {
    align-items: center;
    background-image:
        linear-gradient(to bottom, black, transparent 10%, transparent 90%, black),
        url('imgs/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.panel-container.show {
    height: auto;
    display: inline-block;
}

section p {
    font-size: 8pt;
}

#blockchain-main {
    padding-left: 7%;
    padding-right: 7%
}

.panel-header {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: #0c0c0c;
    color: #ceccccfd; 
}

.panel-content {
    max-height: 0;
    overflow: hidden;
}

.panel-container.show .panel-content {
    max-height: 100%;
    display: block; 
    text-align: left;
}