#leadership-cards {
    display: flex;
    justify-content: space-between;
}

#landing {
    width: 100%;
    padding-left: 5%;
    padding-right: 11%;
    font-size: 57pt;
    align-content: center;
}

#leadership {
    margin: -30px;
    padding: 10%;
}

.namecard {
    width: 6em;
    border-radius: 50%; 
    object-fit: cover; 
    box-shadow: 0 0 15px 5px #1010ce;
}

iframe {
    border: 0;
    width: 95%;  
    height: 20em;
    overflow: hidden;
    filter: invert(1) hue-rotate(180deg);
}