#leadership-cards {
    display: flex;
    justify-content: space-between;
}

#landing {
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 67pt;
}

#leadership {
    margin: -30px;
    padding: 10%;
}

.namecard {
    width: 6em;
    border-radius: 50%; 
    object-fit: cover; 
}

#hover-pres {
    box-shadow: 0 0 8px 2px rgb(0, 0, 255);
}

#hover-treas {
    box-shadow: 0 0 8px 2px rgb(255, 0, 0);
}

iframe {
    border: 0;
    width: 95%;  
    height: 20em;
    overflow: hidden;
    filter: invert(1) hue-rotate(180deg);
}