/*
    Name: Anna Kitagawa
    CS 132 

    This is the home-styles.css page for my blockchain club website.
    It is only used by the homepage, but the styles specified here are not part of the theme.
*/

/* I know it's a bit redundant to do the borders like this since all of the borders are
around sections anyway, but I did it like this so that the border thickness isn't doubled where
two sections are touching */
#club-overview {
    padding-left: 7%;
    padding-right: 7%;
    border: 10px solid #626598;
}

#upcoming-events, #leadership {
    border-top: 10px solid #626598;
    border-left: 10px solid #626598;
    border-right: 10px solid #626598;
}

#upcoming-events {
    padding-bottom: 10%;
}

#leadership {
    border-bottom: 10px solid #626598;
}
