iframe {
    width: 50%;
    filter: invert(1) hue-rotate(180deg);
}

main {
    display: flex;
    justify-content: center;
    background-image:
        linear-gradient(to bottom, black, transparent 10%, transparent 90%, black),
        url('imgs/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}