html, header, body, main, footer, nav, aside {
    display: flex;
    justify-content: space-between;
}
  
html, body, footer, aside {
    flex-direction: column;
}

html, body {
    height: 100%
}

main {
    margin-top: 10px;
    flex: 1;
}

nav {
    margin-top: 5px;
    padding: 0.05%;
}
  
nav li {
    display: inline;
    list-style-type: none;
    font-size: 15pt;
    padding: 0 0.5em;
}

header a {
    text-decoration: none;
}

header nav a {
    color: #a0a0a0; 
}

header, body, footer {
    font-family: "Josefin Sans", sans-serif;
    background-color: #000000;
}

h1, body, footer, a {
    color: #dadada; 
}

section > p, section > ul {
    text-align: left;
}

h1, footer {
    margin: 0;
    padding: 1%;
}

footer {
    padding-top: 0.02%;
    padding-bottom: 1.5%;
}

section, figure {
    text-align: center;
}

section > img, figure > img {
    width: 25%;
}

section > p, section > ul {
    padding-top: 2%;
}

section > ul, figcaption {
    font-size: 10pt;
}

figcaption {
    padding-top: 10px;
}

h1 {
    font-size: 25pt;
}

h2 {
    font-size: 28pt;
}

h3 {
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 5px;
}

h4 {
    font-size: 14pt;
}

figure img {
    width: 40%;
}

aside {
    z-index: 1;
    padding-top: 2%;
    padding-left: 1%;
    padding-bottom: 3%;
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
    box-shadow: 0 0 15px 5px rgb(0, 255, 0);
    width: 40%;
    margin-left: 10px;
    margin-right: -10px;
    min-width: 330px;
    background-color: #2f2f2f;
}